.container_cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    width: 100%;

    box-shadow: rgba(73, 73, 73, 0.425) 0px 1px 12px;
    font-size: 21px;
    font-weight: 600;
    color: #070707;
    background-color: #f5f5f5;

    img{
        width: 64px;
    }

}