.container_forca{
    height: 100vh;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .forca{
        display: flex;
        flex-direction: row;
        align-items: center;      
        padding: 50px 0px 10px 0px;
        

        
        
    }
    .inicial{
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 10px;
        height: 200px;
        div{
            margin-top: 15px 20px 20px;
            width: 40%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgb(0, 102, 255);
            font-size: 30px;
            font-weight: 600;
            color: #ffff;
            border-radius: 10px;
            padding: 10px;    
            cursor: pointer;        
            
        
            img{
                transform: rotate(180deg);
                width: 40px;
                margin-left: 8px;
            }
        }
        div:hover{
            width: 44%;
            transition: 0.3s;   
            img{
                transition: 0.3s;
                width: 42px;
                margin-left: 15px ;
            }
        }
    }
    .letra{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        
        .teclado{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;

            max-width:69%;
            width: 100%;
            gap: 10px;
            font-size: 19px;
            padding: 50px 20px 20px 0px;

            button:hover{
                background-color: rgba(105, 105, 105, 0.664);
                border: rgba(0, 102, 255, 0.747) solid 3px;   
                box-shadow:  0px 1px 5px rgba(0, 102, 255, 0.63);
            }
            button{
                box-shadow:  0px 1px 2px rgb(71, 71, 71);
                border: #b8b8b8 solid 3px;
                width: 110px;
                background-color: #b8b8b8;
                color:  white;
                cursor: pointer;
                border-radius: 5px; 
                font-size: 25px;
                padding: 16px;
            }   

            #sortear{

                background-color: rgb(0, 102, 255);
                
                border: rgb(0, 102, 255);
                width: 300px;
                box-shadow:  none;
             
            }
            #sortear:hover{
                background-color: rgba(0, 102, 255, 0.884);
                    transition: 0.2s;
                    font-weight: 800;
                    font-size: 24px;

                    width: 320px;
                }
        }
    }
    .perdeu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
        .conteudo{
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 102, 255);;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            font-size: 20px;
            border-radius: 10px;
            padding: 26px;
            div{
                
                display: flex;
                justify-content: center;
                align-items: center;
                
                background-color: rgb(0, 102, 255);
                color: white;
                border: none;
                font-size: 25px;
                width: 250px;
                border-radius: 10px;
                padding: 11px;
                cursor: pointer;
                img{
                    width: 30px;
                    margin-left: 5px;
                }
                
            }
            
            div:hover{
                background-color: rgba(0, 102, 255, 0.884);
                    transition: 0.2s;
                    width: 270px;
            }
        }
        
    }
    .venceu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        
        .conteudo{
            flex-direction: column;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 102, 255);;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            font-size: 20px;
            border-radius: 10px;
            padding: 27px;
            width: 30vh;
            div{
                
                display: flex;
                justify-content: center;
                align-items: center;
                
                background-color: rgb(0, 102, 255);
                color: white;
                border: none;
                font-size: 25px;
                width: 250px;
                border-radius: 10px;
                padding: 11px;
                cursor: pointer;

                img{
                    width: 30px;
                    margin-left: 5px;
                }
                
            }
            div:hover{
                background-color: rgba(0, 102, 255, 0.884);
                    transition: 0.2s;
                    width: 270px;
            }
        }
        
    }
}





    